# PORT OF SERVER
PORT=3000

# DB CONFIGS
DIALECT=mysql
HOST=localhost
DB_USERNAME=
PASSWORD=
DATABASE=
DB_PORT=

#bcrypitJS
HASH_BCRYPIT=
EXPIRE_IN=

#crypto
SECRET_CRYPTO=

#backblaze
APPLICATION_KEY_ID=
APPLICATION_KEY=
BUCKET_ID=
BASE_URL_BACKBLAZE=